@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background: #f6f6f6;
  font-family: "Lato", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body > header {
  color: white;
  background-color: rgba(39, 43, 58, 0.5294117647);
  font-size: 20px;
  padding: 30px 0;
  display: flex;
  position: absolute;
  justify-content: center;
}
body > main {
  background-color: rgb(255, 255, 255);
  padding: 0 20px 20px;
}
body > main .page-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 50px 0;
  text-align: center;
}
body > main .content {
  display: flex;
}
body > main .content section {
  flex: 1;
}
body > main .content aside {
  min-width: 250px;
}

button {
  cursor: pointer;
  font-family: "Lato", sans-serif;
}

/* Estilos para o cabeÃ§alho */
.cabecalho {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(39, 43, 58, 0.5294117647);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0; 
  margin: 0; 
  height: 100px; 
  position: relative; 
}

.cabecalho_logo {
  height: 80px; 
  width: 100px; 
  margin-left: 15px; 
}

.cabecalho_menu {
  list-style-type: none;
  margin-right: 40px;
}

.cabecalho_menu li {
  display: inline-block;
}

.cabecalho_menu li a {
  text-decoration: none; 
  color: white;
  font-size: 15px;
  margin-right: 40px; 
  display: inline-block;
}

.cabecalho_menu li:last-child a {
  margin-right: 0; 
}

.cabecalho_menu_button {
  display: none; 
  margin-right: 20px;
}

.cabecalho_nome {
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%); 
  color: white; 
}

/* Media query para tela menor que 910px */
@media screen and (max-width: 960px) {
  .cabecalho_menu {
    display: none;
  }
  .cabecalho_menu_button {
    display: none; /* Ocultar o botÃ£o do menu */
    margin-right: 20px;
    background-color: #8d8d8d;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    border: 2px rgb(139, 139, 139); /* Adiciona borda sÃ³lida preta */
    border-radius: 10px; /* Arredonda os cantos com raio de 10px */
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin-left: auto; /* Adiciona margem Ã  direita */
  }
  .cabecalho_menu.show-menu {
    display: block;
  }
  .cabecalho_menu.show-menu li {
    display: block;
  }
}
table {
  width: 100%;
  border-collapse: collapse;
}
table thead tr {
  border-bottom: 3px solid #eee;
}
table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #8b4513;
}
table tbody tr {
  border-bottom: 3px solid #eee;
}
table tbody tr:last-child {
  border: 0;
}
table tbody tr td {
  padding: 30px 0;
}

.product {
  display: flex;
  align-items: center;
}
.product img {
  border-radius: 6px;
}
.product .info {
  margin-left: 20px;
}
.product .info .name {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.product .info .category {
  color: #666;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.qty {
  background: #eee;
  display: inline-flex;
  padding: 0 0;
  justify-content: space-around;
  align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}
.qty span {
  margin: 0 10px;
}
.qty button {
  display: flex;
  align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}
.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.remove:hover {
  background: #ddd;
}


.secao-resumo {
  max-width: 50%;
  margin-left: 0px;
  text-transform: uppercase;
  font-family: "Lato", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.secao-resumo .box {
  margin-bottom: 15px;
  border: 1px transparent #ccc;
  background: #eee;
  color: #222;
}

.secao-resumo .box header {
  padding: 20px 15px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  color: #d2691e; /* cor de bolo/caramelo */
  background-color: #d2691e;
  color: white;
}

.secao-resumo .box .info {  
  padding: 20px;
  font-size: 12px;
}

.secao-resumo .box .info > div {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 10px;
  color: #d2691e;
}

.secao-resumo .box .info > div:last-child {
  margin: 0;
}

.secao-resumo .box .info button {
  color: #8783ff;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.secao-resumo .box footer > div {
  padding: 20px;
  background: rgba(58, 51, 39, 0.529);
  color: white;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.secao-resumo > button {
  margin-bottom: 8px;
  border: 0;
  padding: 15px 0;
  color: white;
  background: #716cff;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lato", Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.secao-resumo > button:hover {
  background: rgba(39, 43, 58, 0.53);
}


html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.content {
  padding-bottom: 100px; /* Altura do footer */
}

.footer-container {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #716cff;
  color: white;
  font-size: small;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000; /* Garante que o footer fique acima do conteÃºdo, se houver */
}

.footer-container p {
  margin: 5px 0;
}

.footer-container .rodape__logo {
  width: auto;
  height: 50px;
}

@media (max-width: 949px) {
  .wrapper {
    min-width: 950px; /* Define a largura para 900px */
    width: 100%; 
    margin: 0 auto; 
  }
}/*# sourceMappingURL=style.css.map */



.box {
  width: 100%; 
  max-width: 400px;
  margin: auto; 
}

.botoes-container {
  display: flex;
  flex-direction: column; 
  align-items: center; /* Centraliza os botões */
  gap: 10px; /* Espaço entre os botões */
  width: 100%;
}


.botoes-container button {
  width: 100%;
  height: 50px;
  display: flex;
  flex: 1; 
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

  

.product img { 
  width: 120px;  /*tamanho fixo*/
  height: 120px;
  object-fit: cover; 
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.produto-img:hover {
  transform: scale(1.2); /* Efeito de zoom */
}


/* Ajustes para imagens de produtos */
.produto-img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  
}

/* Ajustes para aside */
aside .box {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.botoes-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Responsividade: botão e resumo se ajustam */
@media (max-width: 768px) {
  .box, .botoes-container button {
    max-width: 100%;
  }

  .table-responsive {
    overflow-x: auto;
  }
}



header {
  background-color: #fff8f0; 
}

.navbar-brand span {
  font-family: 'Pacifico', cursive;
  font-size: 1.8rem;
  color: #d2691e; /* cor de bolo/caramelo */
}

.nav-link {
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  color: #8b4513;
  margin-right: 1rem;
}

.nav-link:hover {
  color: #d2691e;
}


.page-title{
  font-family: 'pacifico';
  color: #222;
}


#descricao p {
  font-size: 1.1rem;
  color: #555;
}

#descricao h3 {
  font-size: 2rem;
  font-weight: bold;
}

.btn-primary {
  background-color: #d16a7a;
  border-color: #d16a7a;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 30px;
}

.btn-primary:hover {
  background-color: #b14f61;
  border-color: #b14f61;
}


.carrossel-img {
  max-height: 300px; /* ou 300px, depende do visual que quiser */
  object-fit: cover; 
}


footer {
  background-color: #e7e7e7 ; /*#fff8f0 cor clarinha de confeitaria */
} 

body {
  font-size: 1rem; /* ou 16px */
}



a:hover i.bi {
  color: #d2691e;
}


@media (max-width: 576px) {
  footer img {
    height: 40px; /* Menor imagem no celular */
  }

  .navbar-brand span {
    font-size: 1rem; /* Texto menor no logo */
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
}