{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <span class="fw-bold" style="color:#d2691e;">Pedidos Recebidos</span>

    <div class="mb-4 d-flex gap-2">
        <a href="{{ url_for('admin_pedidos') }}" class="btn btn-outline-primary btn-sm w-100">Todos</a>
        <a href="{{ url_for('admin_pedidos') }}?filtro=entregues" class="btn btn-outline-success btn-sm w-100">Entregues</a>
        <a href="{{ url_for('admin_pedidos') }}?filtro=pendentes" class="btn btn-outline-warning btn-sm w-100">Pendentes</a>
        <a href="{{ url_for('admin_pedidos') }}?filtro=pagos" class="btn btn-outline-info btn-sm w-100">Pagos</a>
        <a href="{{ url_for('dashboard') }}" class="btn btn-outline-secondary btn-sm w-100"> <!-- Botão para o dashboard -->
            📊 Ver Dashboard
        </a>
    </div>



    <table class="table table-bordered table-striped mt-4" style="background-color: #d2691e;" >
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Email</th>
                <th>Data de Entrega</th>
                <th>Produtos</th>
                <th>Observações</th>
                <th>Status do Pedido</th>
                <th>Pagamento</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.nome }}</td>
                <td>{{ pedido.email }}</td>
                <td>{{ pedido.data_entrega }}</td>
                <td>
                    <ul>
                        {% for item in pedido.itens %}
                        <li>{{ item['produto'] }} ({{ item['quantidade'] }}x)</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ pedido.observacoes }}</td>

                <!-- Coluna de Status do Pedido -->
                <td>
                    {{ pedido.status }}
                    {% if pedido.status != 'Entregue' %}
                    <form action="{{ url_for('marcar_como_entregue', id=pedido.id) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-success btn-sm w-auto mt-2">Marcar como Entregue</button>
                    </form>
                    {% endif %}
                </td>

                <!-- Coluna de Status do Pagamento -->
                <td>
                    {{ pedido.pagamento }}
                    {% if pedido.pagamento != 'Pago' %}
                    <form action="{{ url_for('marcar_como_pago', id=pedido.id) }}" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-warning btn-sm w-auto mt-2">Marcar como Pago</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
