<!-- templates/carrinho.html -->
{% extends 'base.html' %}


{% block content %}

<div class="container mt-4">
    <div class="page-title">FAÇA SEU PEDIDO</div>
    <div class="row">
    <!-- TABELA DE PRODUTOS -->
     <div class="col-lg-8 col-md-12 mb-4">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead class="thead-light">
                        <tr>
                            <th>Produto</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
            <tbody>
                <tr>
                    <td>
                      <div class="d-flex align-items-center flex-wrap">
                        <img src="{{ url_for('static', filename='img/banoffe.png') }}" class="img-thumbnail me-2 produto-img" alt="Banoffe" style="width: 90px; height: 90px;">
                        <div>
                          <div class="name">Banoffe</div>
                          <div class="categoria">Tortas</div>
                        </div>
                      </div>
                    </td>
                    <td data-preco="120.00">R$120,00</td>
                    <td>
                      <div class="qtde d-flex align-items-center">
                        <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                        <span class="qtdProduto mx-2">0</span>
                        <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                      </div>
                    </td>
                    <td class="valor-Total" id="valorTotalp1"></td>
                    <td><button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button></td>
                  </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/Bolo_de_Cenoura.jpeg') }}" class="img-thumbnail me-2 produto-img" alt="Bolo de cenoura" style="max-width: 90px; height: auto;">
                                    <div class="info">
                                        <div class="name">Bolo de Cenoura</div>
                                        <div class="categoria">Bolos</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="50.00">R$50,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp2"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/Bolo de maçã.jpeg') }}" class="img-thumbnail me-2 produto-img" alt="Bolo de Maçã" style="width: 90px; height: 90px;">
                                    <div class="info">
                                        <div class="name">Bolo de Maçã</div>
                                        <div class="categoria">Bolos</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp3"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/bolofubagoiabada.jpg') }}" class="img-thumbnail me-2 produto-img" alt="Bolo de Fubá com Goiabada" style="max-width: 90px; height: auto;">
                                    <div class="info">
                                        <div class="name">Bolo de Fuba com Goiabada</div>
                                        <div class="categoria">Bolos</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp4"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/coxinha.jpg') }}" class="img-thumbnail me-2 produto-img" alt="Coxinha" style="width: 90px; height: 90px;">
                                    <div class="info">
                                        <div class="name">Coxinha</div>
                                        <div class="categoria">Doces</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp5"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/pudim.jpg') }}" class="img-thumbnail me-2 produto-img" alt="Pudim" style="width: 90px; height: 90px;">
                                    <div class="info">
                                        <div class="name">Pudim</div>
                                        <div class="categoria">Pudim</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp6"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/redvelvet.jpg') }}" class="img-thumbnail me-2 produto-img" alt="Torta RedVelvet" style="width: 90px; height: 90px;">
                                    <div class="info">
                                        <div class="name">Bolo RedVelvet</div>
                                        <div class="categoria">Bolos</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp7"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/tortadelimao.png') }}" class="img-thumbnail me-2 produto-img" alt="Torta de limão" style="width: 90px; height: 90px;">
                                    <div class="info">
                                        <div class="name">Torta de Limão</div>
                                        <div class="categoria">Tortas</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp8"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="d-flex align-items-center flex-wrap">
                                    <img src="{{ url_for('static', filename='img/tortamaracujachoco.jpg') }}" class="img-thumbnail me-2 produto-img" alt="Torta de Maracujá" style="width: 90px; height: 90px;">
                                    <div class="info">
                                        <div class="name">Torta de Maracujá com Chocolate</div>
                                        <div class="categoria">Tortas</div>
                                    </div>
                                </div>
                            </td>
                            <td data-preco="80.00">R$80,00</td>
                            <td>
                                <div class="qtde d-flex align-items-center">
                                    <button data-action="diminuir" class="btn btn-outline-secondary btn-sm"><i class="bx bx-minus"></i></button>
                                    <span class="qtdProduto mx-2">0</span>
                                    <button data-action="aumentar" class="btn btn-outline-secondary btn-sm"><i class="bx bx-plus"></i></button>
                                </div>
                            </td>
                            <td class="valor-Total" id="valorTotalp9"></td>
                            <td>
                                <button class="remove btn btn-danger btn-sm"><i class="bx bx-x"></i></button>
                            </td>
                        </tr>                                                                   
                    </tbody>
                </table>
            </div>
    </div>
             <!-- RESUMO E BOTÕES -->
        <div class="col-lg-4 col-md-12 secao-resumo">
            <div class="box">
                <header>Resumo do Pedido</header>
                <div class="info">
                    <div><span>Sub-Total</span><span id="subtotal"></span></div>
                    <div><span>Frete</span><span id="frete">Free</span></div>
                    <div><span>Desconto</span><span id="desconto"></span></div>
                </div>
                <footer>
                    <div><span>Total</span><span id="total"></span></div>
                </footer>
            </div>

            <!-- BOTÕES -->
            <div class="botoes-container mt-3">
                <button id="falarCarrinhoBtn" type="button" class="btn btn-primary w-100 mb-2">Falar Produtos</button>
                <button id="limparCarrinhoBtn" type="button" class="btn btn-primary w-100 mb-2">Limpar Carrinho</button>
                <form id="formFinalizar" action="{{ url_for('finalizar') }}" method="POST" class="w-100">
                    <button id="finalizarPedidoBtn" type="submit" class="btn btn-success w-100">Finalizar Pedido</button>
                </form>
            </div>
        </div> <!-- FIM DA COLUNA DO RESUMO -->

    </div> <!-- FIM DA ROW -->
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const falarBtn = document.getElementById("falarCarrinhoBtn");
  
      if (falarBtn) {
        falarBtn.addEventListener("click", function () {
          let produtos = document.querySelectorAll(".qtdProduto");
          let mensagemTexto = "Você adicionou os seguintes produtos ao carrinho: ";
  
          let produtosAdicionados = [];
  
          produtos.forEach((quantidade) => {
            let qtd = parseInt(quantidade.innerText);
            if (qtd > 0) {
              let nomeProduto = quantidade.closest("tr").querySelector(".name").innerText;
              produtosAdicionados.push(`${qtd} ${nomeProduto}`);
            }
          });
  
          if (produtosAdicionados.length === 0) {
            mensagemTexto = "Seu carrinho está vazio.";
          } else {
            mensagemTexto += produtosAdicionados.join(", ");
          }
  
          let mensagem = new SpeechSynthesisUtterance(mensagemTexto);
          mensagem.lang = "pt-BR";
          mensagem.rate = 1;
  
          // Impede falas duplicadas
          window.speechSynthesis.cancel();
          window.speechSynthesis.speak(mensagem);
        });
      }
    });
  </script>
  

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('formFinalizar');
        const finalizarBtn = document.getElementById('finalizarPedidoBtn');
    
        if (finalizarBtn && form) {
            finalizarBtn.addEventListener('click', function(event) {
                // Antes de enviar o formulário, limpar os inputs antigos
                form.querySelectorAll('.input-dinamico').forEach(input => input.remove());
    
                document.querySelectorAll('tbody tr').forEach(tr => {
                    const nomeProduto = tr.querySelector('.name')?.innerText.trim();
                    const qtdProduto = tr.querySelector('.qtdProduto')?.innerText.trim();
    
                    if (nomeProduto && qtdProduto && parseInt(qtdProduto) > 0) {
                        const inputProduto = document.createElement('input');
                        inputProduto.type = 'hidden';
                        inputProduto.name = 'produto';
                        inputProduto.value = nomeProduto;
                        inputProduto.classList.add('input-dinamico');
                        form.appendChild(inputProduto);
    
                        const inputQuantidade = document.createElement('input');
                        inputQuantidade.type = 'hidden';
                        inputQuantidade.name = 'quantidade';
                        inputQuantidade.value = qtdProduto;
                        inputQuantidade.classList.add('input-dinamico');
                        form.appendChild(inputQuantidade);
                    }
                });
    
                // Se nenhum produto foi selecionado, não envia
                if (form.querySelectorAll('input[name="produto"]').length === 0) {
                    event.preventDefault();
                    alert('Seu carrinho está vazio!');
                }
            });
        }
    });
    </script>
    

        

{% endblock %}
